* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f !important;
  scroll-behavior: smooth;
  font-family: sans-serif !important;
}
:root {
  --black-color: #0f0f0f;
  --low-white-color: #b6b5b5;
}
.box-shadow {
  box-shadow: 0 0 10px #0f0f0f;
  background: linear-gradient(
    315deg,
    rgba(15, 15, 15, 1) 58%,
    rgba(130, 133, 133, 1) 100%
  );
}
